body {
    font-family: "Consolas";
}

#site-head a.btn,
#site-head.withCenteredImage a.btn {
    background-color:#f7f7f7;
}

:root {
    --sticky-menu-text-color: #e8320b;
}

table, thead, tbody, th, td {
    border: 1px solid;
}

h3 {
    margin-top: 5%;
}